body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    margin-top: 5%;
    margin-left: 5%;

    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    

}

img{
    
    height: 450px;
    width: 850px;
}
div.main-container{
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.logo{
    display: flex;
    
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    text-shadow: 4px 4px 4px rgb(194, 12, 12),
     6px 6px 4px rgb(55, 190, 28),
     8px 8px 4px rgb(22, 111, 228),
     10px 10px 4px rgb(4, 34, 41);
}
main{
    border: black 2px groove;
    background-color: rgba(223, 217, 223, 0.781);
    color: black;
    height: 324px;
    width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    
    
    
    
    
}
.heading{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}
.contact_text{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    column-gap: 25%;
}
